@use 'variables' as v;

@mixin hide-el {
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@mixin show-el {
  clip-path: none;
  height: auto;
  width: max-content;
}

@mixin mq-mobile {
  @media screen and (width < #{v.$breakpoint-mobile}) {
    @content;
  }
}

@mixin mq-desktop {
  @media screen and (width >=#{v.$breakpoint-mobile}) {
    @content;
  }
}
